# Data science tools and ecosystem

in this notebook, Data science tools are summerized

#### OBJECTIVES:
- list of popular coding languages
- list of common librarys in data science
- table of Data science tools 
- mathmatic epressions

the most popular coding languages are:
 1. python
 2. R
 3. SQL
 4. java

some of the commonly used librarys in data science are 
 1. Pandas
 2. NumPy
 3. matplotlib
 4. seaborn

| Data science tools |
|--------------------|
| Mysql|
| postegreSQL|
|MongoDB|
|Apache Hadoop|

### Below are a few examples of evaluating arithmatic epressions in python

In [2]:
# this is simple arithmaticepression to multiply then add numbers
result = (3*4)+5
print(result)

17

In [4]:
# this will convert 200 min to hours by deviding by 60
min = 200
hours= min / 60

print (hours)

3.3333333333333335

## Author 
Zach montgomery